/*
* 폰트 저장
*/



@font-face{
	font-family:'illegalfont','@illegalfont';
  font-weight: 700;
	src:url('http://component-set.tk/illegalfont.ttf') format('truetype'),
	url('http://component-set.tk/illegalfont.woff') format('woff'),
	url('http://component-set.tk/illegalfont.woff2') format('woff2'),	
	url('./illeagalfont.ttf') format('truetype');
}
