@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

body{
	        background-color: #FFFFFF;
        }

header {
        width: 100%;
        height: 50px;
        padding-top:20px;
        padding-bottom:4px;
        border-bottom:1px solid #BDBDBD;
}

b ul {
    display: inline;
    list-style:none;
}

b ul li {
    float:left;
    margin-right:4em;
}

b ul li a{
    font-size:1em;
    color:black;
    font-weight:300;
    text-decoration:none
}

b ul li a:hover {
    text-decoration: underline; color:#BDBDBD;
    transition-duration: 0.5s;    
}

video {
        display: block;
        margin-top: 44px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50px;
/*        border-bottom:1px solid #BDBDBD;*/
}

#columns > img, svg{
        position: static;
        width: 960px;
        height: auto;
        margin-top: 120px;
        padding-bottom: 120px;
        margin-left: auto;
        margin-right: auto;
        display: block;
/*        border-bottom:1px solid #BDBDBD;*/
        
}



#columns svg a:hover{
		text-decoration: underline;
        fill:#BDBDBD;
    	transition-duration: 0.5s;    
}