@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body{
	background-color: #f6f6f6
}
 .container{
            display: flex;
            flex-direction: column;
        }
        header{
            font-family: 'Nanum Myeongjo', serif;
            font-weight: 400;
            border-bottom:1px solid gray;
            padding-left:20px;
            
        }
        footer{
            font-family: 'Nanum Myeongjo', serif;
            font-weight: 100;
            border-top:1px solid gray;
            padding:20px;
            text-align: center;
        }
        .content{
            
            display:flex;
        }
        nav, aside{
            flex-basis: 150px;
            flex-shrink: 0;
        }
        main{
            font-family: ‘Noto Sans KR’, 'san-serif' ;
            padding:10px;
            font-size: 1.4em;
            line-height: 1.7em
        }